<%= form_for :session, url: sign_in_path do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
    </div>
    
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
        <%= f.submit "Entrar" %>
    </div>
    <p>Ainda não tem uma conta? <%= link_to "Cadastre-se Agora!", new_user_path %></p>
<% end %>