<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <span id="error_explanation">
            <span class="alert-error">
            O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
            </span>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </span>
    <% end %>
    <span class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </span>
    <br>
    <span class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </span>
    <br>
    <span class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </span>
    <br>
    <span class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </span>
    <br>
    <span class="actions">
        <%= f.submit "Cadastrar"%>
    </span>
<% end %>