<%= form_for(@resenha) do |f| %>
  <% if @resenha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resenha.errors.count, "error") %> prohibited this resenha from being saved:</h2>

      <ul>
      <% @resenha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
