<p id="notice"><%= notice %></p>

<h1>Lista de Livros</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Autor</th>
      <th>Publicação</th>
      <th>ISBN</th>
      <th>Descrição</th>
      <th>Valor (R$)</th>
      <th colspan="2">Contato</th>
    </tr>
  </thead>

  <tbody>
    <% @livros = Livro.order(:nome)
      @livros.each do |livro|%>
      <tr>
        <td><%= link_to livro.nome, "#{livro.id}/" %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.publicacao %></td>
        <td><%= livro.isbn %></td>
        <td><%= livro.descricao %></td>
        <td><%= livro.valor %></td>
        <td><%= livro.owner %></td>
        <td>        
          <%= link_to 'Fale comigo!', conversations_path(sender_id: current_user.id, recipient_id: livro.idUser), method: 'post'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buscar Livro', buscar_path %>
