<h3>Resultado da Busca</h3>
 <tbody>
     <% if @livros.nil? %>
     <tr>
      <td>O livro requisitado não foi encontrado no nosso banco de dados.</td>
      <td>Que tal tentar uma de nossas sugestões?</td>
     </tr>
     <% else @livros.each do |livro| #for enquanto tiver livros %>
         <tr>
             
             <td>Nome: <%=livro.nome%></td> </br></br>
             <td>ISBN: <%=livro.isbn%></td> </br></br>
             <td>Autor: <%=livro.autor%></td> </br></br>
             <td>Ano de Publicação: <%=livro.publicacao%></td> </br></br>
             <td>Descrição: <%=livro.descricao%></td></br></br>
         </tr>
         </br>
         <% end %>
 </tbody>
 <%= link_to 'Nova Busca', buscar_path %>
 <%= link_to 'Voltar', livros_path %>