<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @livro.nome %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Publicação:</strong>
  <%= @livro.publicacao %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @livro.isbn %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @livro.descricao %>
</p>

<%= link_to 'Editar', edit_livro_path(@livro) %> |
<%= link_to 'Voltar', livros_path %>
