<header>
  <div id="logo">
    <center><img src="images/logo_clubedolivro.png" width="15%" alt="Clube do Livro"/></center>
    
  </div>
    <div class="header">
       <nav  class="menu_bar"> <!-- lista navegavel que forma a barra de menu -->
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Home", current_user %></li>
            <li><%= link_to "Meu Anúncio", my_ad_path %></li>
            <li><%= link_to "Loja", Livro %></li>
            <li><%= link_to "Chat", Conversation %></li>
            <li><%= link_to "Usuários", users_path %></li>
            <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
            <li>
              <%= link_to "Sair", sign_out_path, method: "delete" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>
