<header>
  <div id="logo">
    <img src="images/logo_clubedolivro.png" width="15%" alt="Clube do Livro"/>
  </div>
    <div>
      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Home", current_user %></li>
            <li><%= link_to "Meu Anúncio", my_ad_path %></li>
            <li><%= link_to "Loja", Livro %></li>
            <li><%= link_to "Chat", Conversation %></li>
            <li><%= link_to "Usuários", users_path %></li>
            <li> Minha Conta
              <ul>
                <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Sair", sign_out_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>